{% extends 'layout.html' %}

{% block content %}
    <h1>PetFax</h1>    
    <section class="pets-container">
        {%for pet in pets%}
            <div class="pet">
                <h2>{{pet.pet_name}}</h2>
                <img src="{{pet.pet_photo}}" alt="Photo of pet" />
                <div class="card-body">
                    <a href="/pets/{{pet.pet_id - 1}}">Learn More ></a>
                </div>
            </div>
        {%endfor%}
    </section>
    <div class="callout">
        We'd love to learn more fun facts! <a href="/facts/new">Submit some here.</a>
    </div>
{% endblock %}